:host {
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px auto;
    grid-template-areas: 
        "title"
        "results";
    background-color: #4d4d4d;

    .title {
        grid-area: title;
        color: #727272;
        font-family: "Whitney Cond A", "Whitney Cond B", "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
        font-size: 60px;
        font-weight: 700;
        padding: 0 20px;
    }

    .saved-movies {
        grid-area: results;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        .saved-movie {
            margin: 10px;
            align-self: flex-start; 
            max-width: 300px;
        }
    }

    .movie-details {
        grid-area: results;
        padding: 10px 20px;
    }
}