:host {
    .menu {
        grid-area: menu;
    }

    .router {
        grid-area: content;
    }

    .footer {
        grid-area: footer;
    }

    .container {
        display: grid;
        width: 100vw; 
        height: 100vh;
        grid-template-columns: 100px auto;
        grid-template-rows: auto 40px;
        grid-template-areas: 
            "menu content"
            "menu footer";
    }
}